/vendor/
.env
/storage/logs/*.log
/storage/cache/*
/storage/uploads/*
!/storage/logs/.gitkeep
!/storage/cache/.gitkeep
!/storage/uploads/.gitkeep
/public/uploads/wallpapers/*
!/public/uploads/wallpapers/.gitkeep
.phpunit.result.cache
*.tmp
